<div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> coding blog </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
            </div>
            <ul class="nav navbar-nav navbar-right">
                  {% if current_user.is_authenticated %}
                       <li> <h4> {{current_user.username}} </h4> </li>

                  {% if current_user.subscribe == False and current_user.role_id == 2 %}
                       <li>
                         <h5>
                             <a href="/register/{{current_user.id}}"> Register </a>
                         </h5>
                      </li>
                  {% endif %}
                  <li>{{current_user.username}}</li>
                  <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                  {% else %}
                 <li><a href="{{url_for('auth.login')}}">Sign in</a></li>

                  {%endif%}




        </div>
    </div>
